
{% extends "layout.html" %}
{% block title %}Assign Coordinaor{% endblock %}
{% block content %}
<div class="file-upload-container" id="file-upload-container">
    <!-- Coordinator assignment form -->
    <form method="post" action="/assigncoordinator">
        <div class="form-group">
        <label for="instructor_id">Instructors:</label>
            {% if not instructors %}
                <span>No instructor available</span>
            {% endif %}
            <select id="instructor_id" name="instructor_id" required>
                {% for instructor in instructors %}
                    <option value="{{ instructor.id }}">{{ instructor.name }} {{ instructor.surname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="department_code">Department:</label>
                {% if not departments %}
                        <span>No department available</span>
                {% endif %}
            <select id="department_code" name="department_code" required>
                {% for department in departments %}
                    <option value="{{ department.department_code }}">{{ department.department_code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <button type="submit">Assign Coordinator</button>
        </div>
    </form>
</div>

{% endblock %}
