<!-- process.html -->

{% extends "layout.html" %}

{% block title %}Process{% endblock %}

{% block content %}

<div class="container">
    <div class="score-container">
        <h2>Excel Preview</h2>
        <table class="table table-bordered" id="survey">
            <thead>
                <tr>
                    <th scope="col" class="col-4">Specific Outcomes of Instructions</th>
                    <th scope="col" class="col-2">PI's</th>
                    <th scope="col" class="col-2">Target Score</th>
                    <th scope="col" class="col-2">Actual Score</th>
                    <th scope="col" class="col-2">Student Score</th>
                    <th scope="col" class="col-2">Status</th>
                    <th scope="col" class="col-2">Instructor Notes</th>
                </tr>
            </thead>
            <tbody id="processed-table-body"></tbody>
        </table>

        <div class="d-flex justify-content-between">
            <button type="submit" id="go-back" class="btn btn-back btn-lg">Go Back</button>
            <button type="submit" id="download" class="btn btn-result btn-lg">Download</button>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>


<script type="text/javascript">
    function fetchCourseObjectives() {
        const queryParams = new URLSearchParams(window.location.search);
        const courseCode = queryParams.get('coursecode');


        const url = `/api/courseobjectives?course_code=${courseCode}`;

        return fetch(url)
            .then(response => response.json());

    }

    function fetchStudentScores() {
        return fetch('/api/secondpage')
            .then(response => response.json());
    }

    function extractNumericPart(key) {
        var match = key.match(/Q(\d+)/);
        return match ? match[1] : null;
    }

    function updateTableWithData(courseObjectivesData, studentScoreObject) {
        var tbody = document.getElementById('processed-table-body');


        if (Array.isArray(courseObjectivesData) && typeof studentScoreObject === 'object') {
            var courseObjectivesDict = {};
            courseObjectivesData.forEach(item => {

                var objectiveId = item.course_objective_id; // Use the correct key
                if (!(objectiveId in courseObjectivesDict)) {
                    courseObjectivesDict[objectiveId - 1] = {
                        description: item.description || '',
                        related_pis: item.performance_indicators.join(', '), // Concatenate PIs
                        student_score: 0,
                    };
                }
                if (courseObjectivesDict[objectiveId - 1].performance_indicators) {
                    courseObjectivesDict[objectiveId - 1].performance_indicators += ', ' + item.performance_indicator_id;
                } else {
                    courseObjectivesDict[objectiveId - 1].performance_indicators = item.performance_indicator_id || '';
                }
            });


            for (var key in studentScoreObject) {
                var numericPart = extractNumericPart(key);

                if (courseObjectivesDict[numericPart - 1]) {
                    courseObjectivesDict[numericPart - 1].student_score = studentScoreObject[key];

                }
            }

            for (var id in courseObjectivesDict) {

                var tr = document.createElement('tr');

                var tdQuestion = document.createElement('td');
                tdQuestion.textContent = courseObjectivesDict[id].description;

                var tdPis = document.createElement('td');
                tdPis.textContent = courseObjectivesDict[id].related_pis;

                var tdTargetScore = document.createElement('td');
                tdTargetScore.textContent = '3.00';

                var tdActualScore = document.createElement('td');
                var piValues = tdPis.textContent.split(', ');
                var sum = 0

                const piWeightsString = "{{pi_weights}}";
                // Extract the JSON part from the string
                const startIndex = piWeightsString.indexOf('{');
                const endIndex = piWeightsString.lastIndexOf('}');
                const jsonSubstring = piWeightsString.substring(startIndex, endIndex + 1);

                // Replace HTML entities with corresponding characters
                const decodedString = jsonSubstring.replace(/&#34;/g, '"');

                // Parse the JSON string into a JavaScript object
                const piWeights = JSON.parse(decodedString);


                piValues.forEach(function (pi) {
                    let piWeightResultString = piWeights.piAverageSuccess;
                    let piWeightResult = piWeightResultString[pi];
                    if (piWeightResultString[pi] != undefined) {
                        piWeightResult = JSON.parse(piWeightResultString[pi]);
                    }
                    else {
                        piWeightResult = 0.00;
                    }

                    sum = sum + piWeightResult;
                });

                var averagePI = sum / piValues.length;
                tdActualScore.textContent = (averagePI * 5).toFixed(2)

                var tdStudentScore = document.createElement('td');

                tdStudentScore.textContent = parseFloat(courseObjectivesDict[id].student_score).toFixed(3);

                var tdStatus = document.createElement('td');

                if (parseFloat(tdActualScore.textContent) >= parseFloat(tdTargetScore.textContent)) {
                    tdStatus.innerHTML = '<strong style="color: green;">Adequate</strong>';
                } else {
                    tdStatus.innerHTML = '<strong style="color: red;">Inadequate</strong>';
                }


                var tdNotes = document.createElement('td');
                // Create text input for instructor notes
                var notesInput = document.createElement('input');
                notesInput.type = 'text';
                notesInput.classList.add('form-control'); // Add Bootstrap class if needed
                notesInput.placeholder = 'Enter notes here...';

                notesInput.style.width = '100%'; // Adjust the width as needed

                tdNotes.appendChild(notesInput);

                tr.appendChild(tdQuestion);
                tr.appendChild(tdPis);
                tr.appendChild(tdTargetScore);
                tr.appendChild(tdActualScore);
                tr.appendChild(tdStudentScore);
                tr.appendChild(tdStatus);
                tr.appendChild(tdNotes);

                tbody.appendChild(tr);
            }
        } else {
            console.error('Invalid data structure or empty data.');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const courseObjectivesPromise = fetchCourseObjectives();

        const studentScoresPromise = fetchStudentScores();

        //const queryParams = new URLSearchParams(window.location.search);
        //const piWeightsString = queryParams.get('piWeights');
        //const piWeights = piWeightsString ? JSON.parse(decodeURIComponent(piWeightsString)) : null;

        const piWeightsString = "{{pi_weights}}";
        // Extract the JSON part from the string
        const startIndex = piWeightsString.indexOf('{');
        const endIndex = piWeightsString.lastIndexOf('}');
        const jsonSubstring = piWeightsString.substring(startIndex, endIndex + 1);

        // Replace HTML entities with corresponding characters
        const decodedString = jsonSubstring.replace(/&#34;/g, '"');

        // Parse the JSON string into a JavaScript object
        const piWeights = JSON.parse(decodedString);
        console.log('PIWeights:', piWeights);

        Promise.all([courseObjectivesPromise, studentScoresPromise])
            .then(([courseObjectivesData, studentScoresData]) => {

                console.log('Fetched course objectives data:', courseObjectivesData);
                console.log('Fetched student scores data:', studentScoresData);

                const studentScoreObject = studentScoresData[6];

                updateTableWithData(courseObjectivesData, studentScoreObject);
            })
            .catch(error => console.error('Error fetching data:', error));



        document.getElementById('download').addEventListener('click', async function () {
            // Fetch performance indicator data before downloading
            try {
                const piWeightsString = "{{pi_weights}}";
                // Extract the JSON part from the string
                const startIndex = piWeightsString.indexOf('{');
                const endIndex = piWeightsString.lastIndexOf('}');
                const jsonSubstring = piWeightsString.substring(startIndex, endIndex + 1);

                // Replace HTML entities with corresponding characters
                const decodedString = jsonSubstring.replace(/&#34;/g, '"');

                // Parse the JSON string into a JavaScript object
                const piWeights = JSON.parse(decodedString);

                const queryParams = new URLSearchParams(window.location.search);
                const courseCode = queryParams.get('coursecode');

                if (courseCode) {
                    await sendPerformanceIndicatorData(piWeights, courseCode);
                    await sendScoreData(courseCode, courseObjectivesPromise);

                    // Loop through each row and append the value of the Instructor Notes field
                    const tbody = document.getElementById('processed-table-body');
                    const rows = tbody.querySelectorAll('tr');
                    rows.forEach(row => {
                        const notesInput = row.cells[6].querySelector('input');
                        const notesValue = notesInput ? notesInput.value.trim() : '';
                        //row.cells[6].textContent = notesValue;
                    });
                    
                    // Once data is sent, trigger the download
                    $("#survey").table2excel({
                        name: "Worksheet Name",
                        filename: "Survey.xls",
                        preserveColors: true
                    });


                } else {
                    console.error('No course code provided.');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });


        async function findRowByDescription(description, courseObjectivesData) {
            try {
                // Access the resolved value of the courseObjectivesData promise
                const resolvedData = await courseObjectivesData;

                // Iterate over each item in the resolved data
                for (const item of resolvedData) {
                    // Get the description from the item
                    const itemDescription = item.description.trim();

                    // Check if the description matches
                    if (itemDescription === description) {
                        // Return the course_objective_id if found
                        return item.course_objective_id;
                    }
                }

                // Return null if no matching description found
                return null;
            } catch (error) {
                console.error('Error finding row by description:', error);
                return null;
            }
        }

        async function sendScoreData(courseCode, courseObjectivesData) {
            const tbody = document.getElementById('processed-table-body');
            const rows = tbody.querySelectorAll('tr');

            const response = await fetch('/api/latest_semester_year');

            const { year, semester } = await response.json();

            for (const row of rows) {
                const description = row.cells[0].textContent.trim();
                const course_objective_id = await findRowByDescription(description, courseObjectivesData);
                const targetScore = row.cells[2].textContent.trim();
                const actualScore = row.cells[3].textContent.trim();
                const studentScore = row.cells[4].textContent.trim();
                const status = row.cells[5].textContent.trim() === 'Adequate' ? 'A' : 'I';
                const notesInput = row.cells[6].querySelector('input');
                // Get the value of the input element
                const notes = notesInput ? notesInput.value.trim() : '';

                const data = {
                    course_objective_id: course_objective_id,
                    course_code: courseCode,
                    year: year,
                    semester: semester,
                    target_score: targetScore,
                    actual_score: actualScore,
                    student_score: studentScore,
                    status: status,
                    notes: notes
                };
                console.log(data)
                try {
                    // Send data to the server using fetch
                    const response = await fetch('/save_course_objective_score', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (response.ok) {
                        // Handle success if needed
                        console.log('Data saved successfully for:', description);
                    } else {
                        // Handle error if needed
                        console.error('Failed to save data for:', description, response.statusText);
                    }
                } catch (error) {
                    console.error('Error saving data for:', description, error);
                }
            }
        }



        async function sendPerformanceIndicatorData(piWeights, courseCode) {
            try {
                const response = await fetch('/api/latest_semester_year');
                const { year, semester } = await response.json();

                for (const [indicatorId, weight] of Object.entries(piWeights.piWeightSuccess)) {
                    const average = piWeights.piAverageSuccess[indicatorId];
                    const stdDev = piWeights.piStdSuccess[indicatorId];
                    const description = '';

                    const data = {
                        course_instance_code: courseCode,
                        course_instance_year: year,
                        course_instance_semester: semester,
                        performance_indicator_id: indicatorId,
                        weight: weight,
                        average: average,
                        std_dev: stdDev,
                        description: description
                    };

                    const saveResponse = await fetch('/save_course_instance_performance_indicators', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (saveResponse.ok) {
                        console.log(`Data saved successfully for indicator: ${indicatorId}`);
                    } else {
                        console.error(`Failed to save data for indicator: ${indicatorId}`, saveResponse.statusText);
                    }

                    // Add a delay (1 second) between each request (optional)
                    await new Promise(resolve => setTimeout(resolve, 1000));
                }
            } catch (error) {
                console.error('Error sending performance indicator data:', error);
            }
        }




        // Introduce a delay between each POST request


        document.getElementById('go-back').addEventListener('click', function () {
            window.history.back();
        });
    })
</script>

{% endblock %}
