<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9zUATyIvHkW5IcLNHY+pQu5pdc1Pz5eVUE/L+2L4S5Jq4meOZL2LgQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/login&register_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>Register Page</title>
</head>
<body>
<header class="top-bar">
    <img src="../static/metu_navbar.png" alt="METU" class="logo hidden-xs">
    <p>ABET DOCUMENTATION PORTAL</p>
</header>
<div class="login-container">
    <div class="login-header">
        <div class="lock-logo">
            <i class="fas fa-lock"></i>
        </div>
        <p>REGISTER · KAYIT OL</p>
    </div>
    <form action="/register" method="post">
        <label for="name">Name / İsim:</label>
        <div class="custom-input">
            <input type="text" name="name" required>
        </div>
        <label for="surname">Surname / Soyisim:</label>
        <div class="custom-input">
            <input type="text" name="surname" required>
        </div>
        <label for="email">Email / E-posta:</label>
        <div class="custom-input">
            <input type="text" name="email" required>
        </div>
        <label for="password">Password / Parola:</label>
        <div class="custom-input">
            <input type="password" name="password" required>
        </div>
        <label for="confirm_password">Confirm Password / Parolanızı Onaylayın:</label>
        <div class="custom-input">
            <input type="password" name="confirm_password" required>
        </div>
        <label for="role">Role:</label>
        <div class="custom-input">
            <select name="role" required>
                <option value="Admin">Admin</option>
                <option value="Instructor">Instructor</option>
                <option value="Coordinator">Coordinator</option>
            </select>
        </div>
        <button type="submit" style="background-color: #02a1c5;">Register · Kayıt Ol</button>
    </form>
    <div class="forgot-pass">
        <p><a href="">English · Türkçe </a></p>
    </div>
    <div class="login">
        <p>Do you have an account?</p>
        <div class="login-button">
            <button onclick="goToLogin()">Login</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.body.style.backgroundImage = "url('/static/background.jpg')";
    const backgroundImages = ["url('../static/background2.jpg')", "url('../static/background3.jpg')", "url('../static/background4.jpg')"];
    const randomImage = backgroundImages[Math.floor(Math.random() * backgroundImages.length)];
    document.body.style.backgroundImage = randomImage;

    function goToLogin() {
        // Redirect to the login page
        window.location.href = "/";
    }
</script>
</body>
</html>
